<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KeraLua" version="1.0.12" targetFramework="net461" />
  <package id="NLua" version="1.4.17" targetFramework="net461" />
  <package id="NPOI" version="2.4.1" targetFramework="net461" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net461" />
</packages>